{% extends "base.html" %}
{% load static %}
{% block title %} Community - Requests {% endblock title %}


{% block content %}
<!-- Masthead-->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Community - Requests</li>
    </ol>
</nav>

{% for req_cat, req_value in requests.items %}
    <div class="gutters-sm pl-5 pr-5 pt-2 bg-div text-center pb-2">
        <div class="mx-auto" style="max-width:1440px;">
            {% if req_cat == "apr_requested" %}
                <h5 class="text-left">Requests Pending your Approval</h5>
            {% endif %}
            {% if req_cat == "apr_approved" %}
                <h5 class="text-left">Approved Requests</h5>
            {% endif %}
            {% if req_cat == "req_requested" %}
                <h5 class="text-left">User Requests </h5>
            {% endif %}
            {% if req_cat == "req_approved" %}
                <h5 class="text-left">Approved User Requests</h5>
            {% endif %}
            <div class="input-group mb-1">
                <input type="text" class="form-control" placeholder="Search for requests" id="myInput_{{req_cat}}"
                       title="Type in a user" onkeyup="search('{{req_cat}}')">
            </div>

            <div style="max-height:500px;overflow-y:scroll;">

            <table class="table table_requests w-100" id="myTable_{{req_cat}}">
                <thead class="thead-light">
                <tr>
                    {% if "approved" in req_cat %}
                    <th scope="col">Resource</th>
                    <th scope="col">Message</th>
                    <th scope="col">Requester</th>
                    <th scope="col">Request Type</th>
                    <th scope="col">Requested On</th>
                    <th scope="col">Decision</th>
                    <th scope="col">Actioned By</th>
                    <th scope="col">Actioned On</th>
                    {% else %}
                    <th scope="col">Resource</th>
                    <th scope="col">Message</th>
                    <th scope="col">Requester</th>
                    <th scope="col">Request Type</th>
                    <th scope="col">Requested On</th>
                    <th scope="col" class="text-center">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% for k_req, v_req in req_value.items %}
                <tr>
                    {% if "approved" in req_cat %}
                    <th scope="row">{{v_req.resource_info}}</th>
                    <td>{{v_req.body}}</td>
                    <td>{{v_req.requester_info}}</td>
                    <td>{{v_req.request_type|title}}</td>
                    <td>{{v_req.sent_at}}</td>
                    <td>{{v_req.decision|title}}</td>
                    <td>{{v_req.approver_info}}</td>
                    <td>{{v_req.approved_at}}</td>
                    {% else %}
                    <th scope="row" class="align-middle">{{v_req.resource_info}}</th>
                    <td class="align-middle">{{v_req.body}}</td>
                    <td class="align-middle">{{v_req.requester_info}}</td>
                    <td class="align-middle">{{v_req.request_type|title}}</td>
                    <td class="align-middle">{{v_req.sent_at}}</td>
                    {% if "apr" in req_cat %}
                    <td>
                        <div class="input-group" style="justify-content: center;">
                           <form action="/messages/update_request/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="approve">
                                <input type="hidden" name="id" value="{{v_req.id}}">
                                <button class="btn btn-success btn-sm" type="submit">Approve</button>
                            </form>
                            <form action="/messages/update_request/" method="post" class="ml-2">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="reject">
                                <input type="hidden" name="id" value="{{v_req.id}}">
                                <button class="btn btn-danger btn-sm" type="submit">Reject</button>
                            </form>
                        </div>
                    </td>
                    {% else %}
                        <td>
                            <div class="input-group" style="justify-content: center;">
                            <form action="/messages/update_request/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="delete">
                                <input type="hidden" name="id" value="{{v_req.id}}">
                                <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                            </form>
                            </div>
                        </td>
                    {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

{% endfor %}
<script>

function search(req_type) {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput_"+req_type);
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable_"+req_type);
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    txtValue = ""
    for (var l_td in [0,1,2,5]){
            td = tr[i].getElementsByTagName("td")[l_td]
            if (td) {
              txtValue += td.textContent || td.innerText;
            }
        }
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }


</script>
{% endblock content %}
