{% extends "base.html" %}
{% load static %}
{% block title %} Admin - Requests {% endblock title %}

{% block content %}
<!-- Masthead-->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin - Requests</li>
    </ol>
</nav>
<div class="gutters-sm pl-5 pr-5 pt-2 bg-div text-center ">
    <div class="col-md-12 mx-auto">
        <div class="bs-example text-left ">
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item">
                    <a href="#info" class="nav-link" data-toggle="tab">Information Requests</a>
                </li>
                <li class="nav-item">
                    <a href="#error" class="nav-link" data-toggle="tab">Errors or Wrong Information</a>
                </li>
                <li class="nav-item">
                    <a href="#permission" class="nav-link" data-toggle="tab">Permission Requests</a>
                </li>
                <li class="nav-item">
                    <a href="#claim" class="nav-link" data-toggle="tab">Claim Requests</a>
                </li>
            </ul>
            <div class="tab-content">
                {% for c_key,c_value in requests.items %}
                <div class="tab-pane fade" id="{{c_key}}">
                    {% for sub_key,sub_value in c_value.items %}
                    {% if sub_key == "appr" %}
                        <h4 class="text-left"> Mediated Requests</h4>
                    {% else %}
                        <h4 class="text-left"> Pending Requests</h4>
                    {% endif %}
                    <div class="input-group mt-2 mb-1">
                        <input type="text" class="form-control" placeholder="Search for requests" id="myInput_{{req_cat}}_{{sub_key}}"
                               title="Type in a user" onkeyup="search('{{req_cat}}_{{sub_key}}')">
                    </div>

                    <table class="table table_requests w-100" id="myTable_{{req_cat}}_{{sub_key}}">
                        <thead class="thead-light">
                        <tr>
                            {% if sub_key == "appr" %}
                            <th scope="col">Resource</th>
                            <th scope="col">Message</th>
                            <th scope="col">Requester</th>
                            <th scope="col">Request Type</th>
                            <th scope="col">Requested On</th>
                            <th scope="col">Decision</th>
                            <th scope="col">Actioned By</th>
                            <th scope="col">Actioned On</th>
                            {% else %}
                            <th scope="col">Resource</th>
                            <th scope="col">Message</th>
                            <th scope="col">Requester</th>
                            <th scope="col">Request Type</th>
                            <th scope="col">Requested On</th>
                            <th scope="col" class="text-center">Actions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>

                        {% for k_req, v_req in sub_value.items %}
                        <tr>
                            {% if sub_key == "appr" %}
                            <th scope="row">{{v_req.resource_info}}</th>
                            <td>{{v_req.body}}</td>
                            <td>{{v_req.requester_info}}</td>
                            <td>{{v_req.request_type|title}}</td>
                            <td>{{v_req.sent_at}}</td>
                            <td>{{v_req.decision|title}}</td>
                            <td>{{v_req.approver_info}}</td>
                            <td>{{v_req.approved_at}}</td>
                            {% else %}
                            <th scope="row" class="align-middle">{{v_req.resource_info}}</th>
                            <td class="align-middle">{{v_req.body}}</td>
                            <td class="align-middle">{{v_req.requester_info}}</td>
                            <td class="align-middle">{{v_req.request_type|title}}</td>
                            <td class="align-middle">{{v_req.sent_at}}</td>
                            <td>
                                <div class="input-group" style="justify-content: center;">
                                    <form action="/messages/update_request/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="approve">
                                        <input type="hidden" name="id" value="{{v_req.id}}">
                                        <button class="btn btn-success btn-sm" type="submit">Approve</button>
                                    </form>
                                    <form action="/messages/update_request/" method="post" class="ml-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="reject">
                                        <input type="hidden" name="id" value="{{v_req.id}}">
                                        <button class="btn btn-danger btn-sm" type="submit">Reject</button>
                                    </form>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $("#myTab li:eq(0) a").tab('show');
});

function search(req_type) {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput_"+req_type);
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable_"+req_type);
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    txtValue = ""
    for (var l_td in [0,1,2,5]){
            td = tr[i].getElementsByTagName("td")[l_td]
            if (td) {
              txtValue += td.textContent || td.innerText;
            }
        }
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }

</script>

{% endblock content %}
