{% extends "base.html" %}
{% load static %}
{% block title %} Password Reset {% endblock title %}

{% block content %}
<div class="row gutters-sm pl-5 pr-5 pt-2 bg-div text-center mx-auto">
  <div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 mx-auto">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><div class="text-center">
                    <img class="img-responsive" style="width:7vw" src="{% static 'assets/img/icon.png' %}"/>
                </div>
                  </h3>
                  <h2 class="text-center">Update your Password</h2>
                  <p>You can update your password here.</p>
                  <div class="panel-body">
                      <form class="needs-validation" id="form_update" method="post" novalidate>
                            {% csrf_token %}
                            {% if secret is not None %}
                            <input type="hidden" name="secret" value="{{secret}}">
                            {% endif %}
                            <div class="form-group text-left">
                                <div class="row">
                                    <label for="upd_password" class="text-dark col-md-6 col-sm-6"> Password</label>
                                </div>
                                <input type="password" class="form-control" id="upd_password" name="password"
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                       placeholder="Your password..." required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback"> Please provide a valid password. It must contain at least
                                    one
                                    number and one uppercase and lowercase letter, and at least 8 or more characters
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <label for="upd_password_conf" class="text-dark">Confirm Password</label>
                                <input type="password" class="form-control" id="upd_password_conf"
                                       placeholder="Confirm your password..." oninput="check_pw2(this)" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback"> Password must match!</div>
                            </div>
                            <button type="submit" type="submit" form="form_update" value="Submit"
                                    class="btn btn-info btn-block text-center btn-round">Update Password
                            </button>
                        </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
  </div>
</div>

<script>


// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()


function check_pw2(input) {
    if (input.value != document.getElementById('upd_password').value) {
        input.setCustomValidity('Password Must be Matching.');
    } else {
        input.setCustomValidity('');
    }
}

</script>

{% endblock content %}