{% load static %}
{% load bootstrap4 %}
{% load pinax_messages_tags %}
{% load pinax_announcements_tags %}
{% load coped_extras %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Home {% endblock title %} | CoPED</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% include "includes/head.html" %}
  </head>
  <body>

  
    {% if not view.is_popup %}
    <!-- Navigation-->
    <!-- Navigation-->
    <!-- Navigation-->
    <!-- Navigation-->
    <p class="rowtop white small text-center">This is a demonstration version of CoPED. Please do not enter personal information. Data is liable to change/disappear without notice.</p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="{% static 'assets/img/icon_long.png' %}"
            height="30"
            class="d-inline-block align-top"
            alt=""
        /></a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav" href="/">
            <div class="d-none d-xl-block">
              <a class="navbar-brand"> Energy Projects Catalogue</a>
            </div>
          </div>
          <div class="navbar-nav ml-auto">
            <a
              class="
                btn
                nav-item
                btn-secondary
                ml-1
                {% block nav_proj %}{% endblock nav_proj %}
              "
              href="{% url 'project-list' %}"
            >
              <i class="fas fa-briefcase"></i> Projects</a
            >
            <a
              class="
                btn
                nav-item
                btn-secondary
                ml-1
                {% block nav_ppl%}{% endblock %}
              "
              href="{% url 'person-list' %}"
            >
              <i class="fas fa-users"></i> People</a
            >
            <a
              class="
                btn
                nav-item
                btn-secondary
                ml-1
                {% block nav_org%}{% endblock %}
              "
              href="{% url 'organisation-list' %}"
            >
              <i class="fas fa-landmark"></i> Organisations</a
            >
            &nbsp;
            <div class="dropdown mr-1">
              <button
                class="btn btn-outline-success dropdown-toggle {% block nav_vis %}{% endblock %}"
                type="button"
                id="dropdownMenuButton3"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                style="max-width: 180px; overflow: hidden; text-overflow: ellipsis"
              >
                <i class="fas fa-chart-pie"></i> Data &amp; Analysis
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                <a class="dropdown-item" href="{% url 'visuals-index' %}"><i class="fas fa-info-circle"></i>  Our Dashboards </a>
                <hr class="dropdown-divider" />
                <p class="dropdown-header">
                  <i class="fas fa-toolbox"></i> <b>Login Required</b>
                </p>
                <a class="dropdown-item {% if not user.is_authenticated %}disabled{% endif %}" href="/analysis/?p=dashboards-collections"><i class="fas fa-table"></i> Personal Dashboards </a>
                <a class="dropdown-item {% if not user.is_authenticated %}disabled{% endif %}" href="/analysis/?p=browse-data"><i class="fas fa-database"></i> Data Browser </a>
                <a class="dropdown-item {% if not user.is_authenticated %}disabled{% endif %}" href="/analysis/?p=custom-analysis"><i class="fas fa-chart-line"></i> Custom Analysis </a>
                <hr class="dropdown-divider" />
                <a class="dropdown-item" href="{% url 'api-root' %}" target="_blank"><i class="fas fa-laptop-code"></i> RESTful API (JSON) </a>
              </div>
            </div>
            <a class="btn nav-item btn-outline-info ml-1 {% block nav_announce %}{% endblock %}" href="{% url 'pinax_announcements:announcement_list' %}">
              <i class="fas fa-bullhorn"></i> Announcements
              {% if not user.is_superuser %}
              {% announcements as announcement_list %}
              <span class="badge badge-pill badge-info">
                {{ announcement_list.count }}
              </span>              
              {% endif %}
            </a>
            &nbsp;
            {% if user.is_authenticated %}
            <div class="dropdown mr-1">
              <button
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton2"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                style="max-width: 180px; overflow: hidden; text-overflow: ellipsis"
              >
              <i class="fas fa-user"></i> {{ user.username|truncatechars:14 }}
              {% with user|unread_thread_count as unread_messages %}
                {% if unread_messages %}
                <span class="badge badge-pill badge-danger">{{ unread_messages }}</span>
                {% endif %}
              {% endwith %}            
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <hr class="dropdown-divider" />
                <p class="dropdown-header">
                <i class="fas fa-user-cog"></i> <b>Account</b>
                </p>
                <a class="dropdown-item" href="{% url 'user-detail' %}"> Profile </a>
                <a class="dropdown-item" href="{% url 'user-managed-projects' %}">
                  My Projects
                    {% if user.project_set.exists %}
                    <span class="badge badge-pill badge-success">{{ user.project_set.count }}</span>
                    {% endif %}
                </a>
                <a class="dropdown-item" href="{% url 'user-favourites' %}">
                  Favourites
                  {% favourite_count user as favourite_count %}
                  {% if favourite_count %}
                    <span class="badge badge-pill badge-secondary">{{ favourite_count }}</span>
                  {% endif %}
                </a>
                <a class="dropdown-item" href="{% url "pinax_messages:inbox" %}">
                  Messages
                  {% with user|unread_thread_count as unread_messages %}
                    {% if unread_messages %}
                      <span class="badge badge-pill badge-danger">{{ unread_messages }}</span>
                    {% endif %}
                  {% endwith %}
                </a>
                <hr class="dropdown-divider" />
                <p class="dropdown-header">
                  <i class="fas fa-user-plus"></i> <b>Network</b>
                </p>
                <a class="dropdown-item" href="{% url 'invitations:send-invite' %}"> Invite a Contact </a>
                {% if user.is_staff %}
                  <hr class="dropdown-divider" />
                  <p class="dropdown-header">
                    <i class="fas fa-cogs"></i> <b>Admin</b>
                  </p>
                  <a class="dropdown-item" href="{% url 'admin:index' %}"> Management </a>
                {% endif %}
                <hr class="dropdown-divider" />
                <a class="dropdown-item" href="{% url 'logout' %}">
                  Log Out <i class="fas fa-sign-out-alt"></i>
                </a>
              </div>
            </div>
            {% else %}
            <div class="mr-1">
              <a
                class="btn btn-primary"
                id="signin_button"
                href="{% url 'login' %}"
              >
                Sign in
              </a>
              <a
                class="btn btn-outline-primary"
                href="{% url 'django_registration_register' %}"
              >
                Sign up
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- Navigation-->
    <!-- Navigation-->
    <!-- Navigation-->
    <!-- Navigation-->
    {% endif %}




    <article>
      {% bootstrap_messages %}
      {% block content %} {% endblock content %}
      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock pagination %}
    </article>

    {% block footer %}
      {% if not view.is_popup %}
        {% include "includes/footer.html" %}
      {% endif %}
      {% include "includes/footer_scripts.html" %}
    {% endblock footer %}
  </body>
</html>
