{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "includes/head.html" %}
  </head>
  <body>
    {% include "includes/navigation.html" %}

    <article>
      {% include "includes/messages.html" %}
      {% block content %} {% endblock content %}
      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock pagination %}
    </article>

    {% block footer %}
      {% include "includes/footer.html" %}
      {% include "includes/footer_scripts.html" %}
    {% endblock footer %}
  </body>
</html>
