{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<br><br>
<div class="gutters-sm pl-5 pr-5">
    <div class="row">
        <div class="col-md">
            <h4>Manage Person</h4>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_formset_errors formset %}
                {% bootstrap_formset formset %}
                {% buttons %}
                <button type="submit" value="Save" class="btn btn-primary">{% trans 'Save' %}</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>

{% endblock content %}
