{% extends "base.html" %}
{% load humanize %}

{% block title %} Organisations List {% endblock title %}

{% block nav_org %}active{% endblock nav_org %}

{% block content %}
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item">Organisations</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9 text-left">
            <br>
            <h4>
                <div class="pull-left">Organisations</div>
                <div class="pull-right"><a href="{% url 'organisation-create' %}" class="badge badge-pill badge-success">Create New +</a></div>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
        {% if page_obj %}
            <table class="table">
                {% for obj in page_obj %}
                    {% if forloop.first %}
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% endif %}
                        <tr>
                            <td><a href="{{ obj.get_absolute_url }}">{{obj.name}}</a></td>
                        </tr>
                    {% if forloop.last %}
                    </tbody>
                    {% endif %}
                {% endfor %}
            </table>
        {% else %}
            <p>No organisations found.</p>
        {% endif %}
        </div>
        <div class="col-lg-3">
            {% include "./includes/organisation_search_form.html" %}
        </div>        
    </div>
</div>
{% endblock content %}