{% extends "base.html" %}
{% load static %}
{% block title %} Password Reset {% endblock title %}

{% block content %}
<div class="row gutters-sm pl-5 pr-5 pt-2 bg-div text-center mx-auto">
        <div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 mx-auto">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><div class="text-center">
                    <img class="img-responsive" style="width:7vw" src="{% static 'assets/img/icon.png' %}"/>
                </div>
                  </h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">

                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" style="text-align:center" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>

                      <input type="hidden" class="hide" name="token" id="token" value="">
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
</div>
{% endblock content %}
