{% extends "base.html" %}

{% block title %} Person Detail {% endblock title %}

{% block nav_ppl %}active{% endblock nav_ppl %}

{% block content %}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'person-list' %}">People</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ person.full_name }}</li>
    </ol>
</nav>


{% comment %} <div class="gutters-sm pl-5 pr-5"> {% endcomment %}
<div class="container col-lg-8">
    <div class="row">
        <div class="col-md">
            <h4>{{ person.full_name }} <a href="{% url 'person-update' pk=person.id %}" class="badge badge-pill badge-success">Update +</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            {% include "./includes/person_detail_card.html" %}
        </div>
        {% comment %} <div class="col-md-4"> {% endcomment %}
            {% comment %} {% include "./includes/organisation_detail_associations.html" %} {% endcomment %}
            {% comment %} {% include "./includes/project_detail_actions.html" %}
            {% include "./includes/project_detail_meta.html" %}
            {% include "./includes/project_detail_metrics.html" %} {% endcomment %}
        {% comment %} </div> {% endcomment %}
    </div>
</div>

{% endblock content %}
