{% extends "base.html" %}
{% load humanize %}

{% block title %} People List {% endblock title %}

{% block nav_ppl %}active{% endblock nav_ppl %}

{% block content %}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item">People</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9 text-left">
            <br>
            <h4>
                <div class="pull-left">People</div>
            </h4>
            <br>
            {% if user.is_contributor or user.is_superuser %}
            <div>
                <a href="{% url 'person-create' %}" class="badge badge-pill badge-success">Create New +</a>
            </div>
            {% else %}
            <div>
                <a href="{% url 'request-contributor-permissions' %}" class="badge badge-pill badge-warning" data-toggle="tooltip" title="Request permission to add projects, people or organisations to CoPED.">
                    <i class="fas fa-edit"></i>
                    Request Permission to Contribute
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
        {% if page_obj %}
            <table class="table">
                {% for obj in page_obj %}
                    {% if forloop.first %}
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Organisation</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% endif %}
                        <tr>
                            <td><a href="{{ obj.get_absolute_url }}">{{obj.full_name}}</a></td>
                            <td>{{ obj.organisations.first }}</td>
                        </tr>
                    {% if forloop.last %}
                    </tbody>
                    {% endif %}
                {% endfor %}
            </table>
        {% else %}
            <p>No people found.</p>
        {% endif %}
        </div>
        <div class="col-lg-3">
            {% include "./includes/person_search_form.html" %}
        </div>        
    </div>
</div>
{% endblock content %}