{% extends "base.html" %}

{% block title %} Project Detail {% endblock title %}

{% block nav_proj %}active{% endblock nav_proj %}

{% block content %}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/projects/">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Project - {{ project.title }}</li>
    </ol>
</nav>

<div class="gutters-sm pl-5 pr-5">
    <div class="row">
        <div class="col-md">
            <h4>
                {{ project.title }}
            </h4>
            <a href="{% url 'project-list' %}?mlt={{project.id}}" class="badge badge-pill badge-secondary" data-toggle="tooltip" title="Show projects with matching descriptions and subjects.">Find Similar</a>
            <a href="{% url 'project-history' pk=project.id %}" class="badge badge-pill badge-info" data-toggle="tooltip" title="Show project updates.">
                History
                {% if project.history.exists %}
                <span class="badge badge-light">{{project.history.count}}</span>
                {% endif %}
            </a>
            {% if user.is_authenticated and project in user.project_set.all or user.is_superuser %}
            <a href="{% url 'project-update' pk=project.id %}" class="badge badge-pill badge-success" data-toggle="tooltip" title="Edit this project.">
                Update
            </a>
            {% else %}

                {% if user.is_authenticated and project.owner %}
                <a href="{% url 'project-contact-owner' pk=project.id %}" class="badge badge-pill badge-success" data-toggle="tooltip" title="Send a message to the owner of this project.">
                    Contact Owner
                </a>
                {% else %}
                <a href="{% url 'project-claim-ownership' pk=project.id %}" class="badge badge-pill badge-success" data-toggle="tooltip" title="Claim this project so you can manage it.">
                    Claim Ownership
                </a>
                {% endif %}
                <a href="{% url 'project-request-data-change' pk=project.id %}" class="badge badge-pill badge-warning" data-toggle="tooltip" title="Let us know if something needs to be updated.">
                    Request Data Change
                </a>
            
            {% endif %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            {% include "./includes/project_detail_card.html" %}
        </div>
        <div class="col-md-4">
            {% include "./includes/project_detail_associations.html" %}
            {% comment %} {% include "./includes/project_detail_actions.html" %}
            {% include "./includes/project_detail_meta.html" %}
            {% include "./includes/project_detail_metrics.html" %} {% endcomment %}
        </div>
    </div>
</div>

{% endblock content %}
