{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} Project Form {% endblock title %}

{% block nav_proj %}active{% endblock nav_proj %}

{% block content %}

<br><br>
<div class="container col-lg-8">
    <div class="row">
        <div class="col-md">
            <h4>Project</h4>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout="horizontal" %}
                {% for formset in inlines %}
                <hr>
                <h5>
                    {% if formset.prefix == "project-fund-form" %}
                        Funds
                    {% elif formset.prefix == "project-organisation-form" %}
                        Organisations
                    {% elif formset.prefix == "project-person-form" %}
                        People
                    {% else %}
                        Related Items
                    {% endif %}
                    &nbsp;
                    <a type="button" class="badge badge-pill badge-secondary add-another" value="{{formset.prefix}}" id="add-another-{{formset.prefix}}">Add +</a>
                </h5>
                <div id="form_set_{{formset.prefix}}">
                    {% bootstrap_formset formset layout="horizontal" %}
                    <br>
                </div>   
                <div id="empty_form_{{formset.prefix}}" style="display:none">
                    {% bootstrap_form formset.empty_form layout="horizontal" %}
                    <br>
                    {{ formset.media }}
                </div>
                {% endfor %}
                {% buttons %}
                <button type="submit" value="Save" class="btn btn-primary">{% trans 'Save' %}</button>
                {% if object.id %}
                    <a href="{% url 'project-detail' pk=object.id %}" class="btn btn-warning">{% trans 'Cancel' %}</a>
                {% else %}
                    <a href="{% url 'project-list' %}" class="btn btn-warning">{% trans 'Cancel' %}</a>
                {% endif %}
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
<script>
    // The following JS code handles clicks on inline formset "Add another" buttons.
    //
    // It copies the Django blank form for that formset, updates the attributes
    // with the appropriate index value for the new form and adds it to the DOM.
    // Once added, it re-runs the select2 initialisation to bind the select2
    // handlers to the newly added DOM elements.
    (function(){
        $('.django-select2').djangoSelect2();
        $('.add-another').click(function(el) {
            el.preventDefault();
            let prefix = el.target.getAttribute("value");
            let form_idx = $(`#id_${prefix}-TOTAL_FORMS`).val();
            let $span_to_remove = $(`#empty_form_${prefix} span.select2.select2-container`);
            $span_to_remove.remove(); 
            let $empty_form = $(`#empty_form_${prefix}`).html().replace(/__prefix__/g, form_idx);
            $(`#form_set_${prefix}`).append($empty_form);
            $(`#id_${prefix}-TOTAL_FORMS`).val(parseInt(form_idx) + 1);
            $('.django-select2').djangoSelect2();
            return;
        });
    })();
</script>
{% endblock content %}
