{% extends "base.html" %}
{% load humanize %}

{% block content %}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">Projects</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
    <div class="col-lg-9 text-left">
    {% if more_like_this %}
        <br>
        <p>
        More like:
        <br>
        <a href="{% url 'project-detail' more_like_this.id %}">{{more_like_this.title}}</a>
        </p>
    {% else %}
        <br>
        <h4>Energy Project Search</h4>
    {% endif %}
    </div>
    </div>
    <div class="row">
    <div class="col">
    {% if page_obj %}
        <table class="table">
            {% for obj in page_obj %}
                {% if forloop.first %}
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Funder</th>
                        <th scope="col" class="text-right">Funding</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                {% endif %}
                    <tr>
                        <th scope="row">{{ forloop.counter0|add:list_start }}</th>
                        <td><a href="{{ obj.get_absolute_url }}">{{obj.title}}</a></td>
                        <td>{{obj.funders}}</td>
                        <td><div class="text-right">£{{obj.total_funding|intcomma}}</div></td>
                        <td>{{obj.filter_start_date}}</td>
                        <td>{{obj.filter_end_date}}</td>
                        <td>{{obj.status}}</td>
                    </tr>
                {% if forloop.last %}
                </tbody>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        <p>No projects found.</p>
    {% endif %}
    </div>
    <div class="col-lg-3">
    {% include "./includes/project_search_form.html" %}
    </div>
    </div>
</div>
{% endblock content %}