{% extends "base.html" %}

{% block nav_proj %}active{% endblock nav_proj %}

{% block content %}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/projects/">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Project - {{ project.title }}</li>
    </ol>
</nav>

<div class="gutters-sm pl-5 pr-5">
    <div class="row">
        <div class="col-md">
            <h4>{{ project.title }} <a href="{% url 'project-update' pk=project.id %}" class="badge badge-pill badge-success">Update +</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            {% include "./includes/project_detail_card.html" %}
        </div>
        <div class="col-md-4">
            {% include "./includes/project_detail_associations.html" %}
            {% comment %} {% include "./includes/project_detail_actions.html" %}
            {% include "./includes/project_detail_meta.html" %}
            {% include "./includes/project_detail_metrics.html" %} {% endcomment %}
        </div>
    </div>
</div>

{% endblock content %}
