{% extends "base.html" %}

{% block title %} Managed Projects {% endblock title %}

{% block content %}

<br><br>
<div class="container col-lg-6">
    <div class="row">
        <div class="col">
            <h4>Projects</h4>
            <p>These are the projects you own and manage.</p>
            <table class="table" id="sortTable">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Last Change</th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <a href="{{object.get_absolute_url}}">{{object.title}}</a>
                        </td>
                        <td>
                            {{object.last_change|date:'Y-m-d H:i'|default:"(None)"}}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>No projects.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}