{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} User Update Form {% endblock title %}


{% block content %}

<br><br>
<div class="container col-lg-6">
    <div class="row">
        <div class="col">
            <h4>Update User</h4>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% buttons %}
                <button type="submit" value="Update" class="btn btn-primary">{% trans 'Save' %}</button>
                <a class="btn btn-warning" href="{% url 'user-detail' %}">{% trans 'Cancel' %}</a>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>

{% endblock content %}
