{% extends "base.html" %}

{% block content %}
<br><br>
    <div class="container col-lg-6">
        <div class="row">
            <div class="col">
                <h4>Profile</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Username</th>
                            <td>{{object.username}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{object.email}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Password</th>
                            <td>* * * * *</td>
                        </tr>
                        <tr>
                            <th scope="row">First Name</th>
                            <td>{{object.first_name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name</th>
                            <td>{{object.last_name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Joined</th>
                            <td>{{object.date_joined}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Last Login</th>
                            <td>{{object.last_login}}</td>
                        </tr>
                    </tbody>
                </table>
                <p><a href="{% url 'password_change' %}" class="btn btn-primary">Change Password</a></p>
                <p><a href="{% url 'user-update' %}" class="btn btn-info">Update</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
