

/* Misc Buttons */
.edit-button {
position: absolute;
top: 140px;
left: calc(50% + 50px);
font-size: 25px;
}

/*.edit-button a {
    stroke: #ffffff;
    stroke-width: 1px;
    color: #000000;
}*/

/* This style for hide type=number SPINNER up/down */
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button
{-webkit-appearance:none;margin:0}
input[type=number]
{-moz-appearance:textfield}


/* Contact Form CSS */
.contact-form{
    background: #f8f9fa;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
 /* //   border-radius: 6rem; */
    width: 11%;
    margin-top: -3%;
 /* //   transform: rotate(29deg); */
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 3%;
    margin-top: -15%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

header{ min-height:50px; background:lightcyan; }
footer{ min-height:50px; background:PapayaWhip; }

/* Trick */
body{
    height:100vh;
    display:flex;
    flex-direction:column;
    width: 100%;
}

footer{
  margin-top:auto;
}

/* Checkbox switch */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'Hidden';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
}

input:checked + .slider:after
{
  content:'Visible';
}

/*--------- END --------*/

/* Custom image for display */
.cust_disp_image{
  width:150px;
  height:150px;
  border-radius: 20%;
  object-fit:cover;
}

textarea {
  margin:0px 0px;
  padding:5px;
  height:16px;
  line-height:16px;
  width:96%;
  display:block;
  margin:0px auto;
}


 pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    overflow: auto;
 }

 .no-click {
    pointer-events: none;
}


/* Loading for Vis-js */
#mynetwork {
  width: 100%;
  height: 640px;
  border: 1px solid lightgray;
}

/* Autocompletion for search */
#autocomplete-result {
  border: 1px dotted #ccc;
  padding: 3px;
}
#autocomplete-result ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#autocomplete-result ul li {
  padding: 5px 0;
}
#autocomplete-result ul li:hover {
  background: #eee;
}
