{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col-md">
                {% include "./includes/project_detail_card.html" %}
            </div>
            <div class="col-md-4">
                {% include "./includes/project_detail_associations.html" %}
                {% comment %} {% include "./includes/project_detail_actions.html" %}
                {% include "./includes/project_detail_meta.html" %}
                {% include "./includes/project_detail_metrics.html" %} {% endcomment %}
            </div>
        </div>

    <div class="gutters-sm pl-5 pr-5 pt-2 bg-div text-center">
        <div class="text-left">
            {% include "./includes/project_detail_associations.html" %}
        </div>
    </div>

{% endblock content %}
