{% extends "base.html" %}
{% load static %}
{% block title %}Edit Project - {{ title }} {% endblock title %}

{% block nav_proj%}active{% endblock %}


{% block content %}
<!-- Masthead-->

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/projects/">Projects</a></li>
        <li class="breadcrumb-item"><a href="/project_page/?project={{ id }}">Project - {{ title }}</a>
        <li class="breadcrumb-item active" aria-current="page">Editing</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="gutters-sm pl-5 pr-5">
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div class="image-area" style="display: relative">
                            <img src="/return_images/?uid={{ id }}&type=project" alt="Admin"
                                 id="imageResult" class="img-fluid mx-auto d-block rounded-circle"
                                 width="150px">
                        </div>
                        <div class="mt-3">
                            <h4>{{ title }}</h4>
                            <p class="text-muted font-size-sm"><a target="_blank">{{ affiliation_name }}</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <form id="form_edit_project" action="/update_project/" method="post" enctype="multipart/form-data">
                <div class="card mb-3">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="input_title" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input_title" placeholder="Title"
                                       name="title" value="{{ title }}">
                                <input type="hidden" name="id" value="{{ id }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input_status" class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input_status" placeholder="Status"
                                       name="status" value="{{ status }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="upload" class="col-sm-2 col-form-label">Image</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="upload" name="image">
                                    <label class="custom-file-label" for="upload" id="upload-label"
                                           onchange="readURL(this);">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input_abstract" class="col-sm-2 col-form-label">Abstract</label>
                            <div class="col-sm-10">
                            <textarea class="form-control"
                                      id="input_abstract" height="auto" placeholder="Abstract"
                                      name="abstract">{{ abstract }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h4> Funder</h4>
                        <hr>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Funder</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select class="selectpicker form-control" data-live-search="true"
                                            id="funder_picker" name="funder">
                                        {% for item in orgs_list %}
                                        {% if item.1 == funder_detailed.0.id %}
                                            <option value="{{ item.1 }}" selected>{{ item.0 }}</option>
                                        {% else %}
                                            <option value="{{ item.1 }}">{{ item.0 }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div><!-- /input-group -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input_status" class="col-sm-2 col-form-label">Grant Category</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fund_category" placeholder="Fund Category"
                                       name="funding.grant_category" value="{{ funding.grant_category }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input_status" class="col-sm-2 col-form-label">Value</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fund_value" placeholder="Funding Value"
                                       name="funding.value" value="{{ funding.value }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input_status" class="col-sm-2 col-form-label">Start Date</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fund_start" placeholder="Start Date"
                                       name="funding.start" value="{{ funding.start }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input_status" class="col-sm-2 col-form-label">End Date</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fund_end" placeholder="End Date"
                                       name="funding.end" value="{{ funding.end }}">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card mb-3">
                    <div class="card-body">
                        <h4> Organisations</h4>
                        <hr>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Organisations</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select class="selectpicker form-control" data-live-search="true"
                                            id="select_picker">
                                        {% for item in orgs_list %}
                                        <option value="{{ item.1 }}">{{ item.0 }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="input-group-btn">
                                  <button class="add_field_button btn btn-info">Add More Organisations</button>
                              </span>
                                </div><!-- /input-group -->
                                <div class="input_fields_wrap input-group">

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h4> People</h4>
                        <hr>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">People</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select class="selectpicker form-control" data-live-search="true"
                                            id="select_picker2">
                                        {% for item in people_list %}
                                        <option value="{{ item.1 }}">{{ item.0 }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="input-group-btn">
                                  <button class="add_field_button2 btn btn-info">Add More People</button>
                              </span>
                                </div><!-- /input-group -->
                                <div class="input_fields_wrap2 input-group">

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h4> Identifiers</h4>
                        <hr>
                        <h5> UKRI </h5>
                        <div class="form-group row">
                            <label for="url_ident" class="col-sm-2 col-form-label">URL</label>
                            <div class="col-sm-10">
                                <input type="url" class="form-control" id="url_ident" placeholder="url"
                                       name="identifiers.ukri.url" value="{{ identifiers.ukri.url}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="uid_ident" class="col-sm-2 col-form-label">Unique ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="uid_ident" placeholder="Unique ID"
                                       name="identifiers.ukri.uid" value="{{ identifiers.ukri.uid}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="uid_ident" class="col-sm-2 col-form-label"><h4>Changes</h4></label>
                            <div class="col-sm-10">
                                <button type="submit" name="submit" id="button_submit" class="btn btn-success">Save
                                    Changes
                                </button>
                                <button type="submit" name="submit" id="button_reset" class="btn btn-warning">Reset
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

/*  ==========================================
    SHOW UPLOADED IMAGE
* ========================================== */
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#imageResult')
                .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
}

$(function () {
    $('#upload').on('change', function () {
        readURL(input);
    });
});

/*  ==========================================
    SHOW UPLOADED IMAGE NAME
* ========================================== */
var input = document.getElementById( 'upload' );
var infoArea = document.getElementById( 'upload-label' );

input.addEventListener( 'change', showFileName );
function showFileName( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea.textContent = 'Filename: ' + fileName;
}

$(document).on('change','.up', function(){
        var names = [];
        var length = $(this).get(0).files.length;
          for (var i = 0; i < $(this).get(0).files.length; ++i) {
              names.push($(this).get(0).files[i].name);
          }
          // $("input[name=file]").val(names);
        if(length>2){
          var fileName = names.join(', ');
          $(this).closest('.form-group').find('.form-control').attr("value",length+" files selected");
        }
        else{
          $(this).closest('.form-group').find('.form-control').attr("value",names);
        }
     });


expandTextarea('input_abstract');


/* All of this to add Organisations */
$(document).ready(function() {
	var max_fields      = 10; //maximum input boxes allowed
	var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
	var add_button      = $(".add_field_button"); //Add button ID

	var x = 1; //initlal text box count
	$(add_button).click(function(e){ //on add input button click
		e.preventDefault();
		if(x < max_fields){ //max input box allowed
			x++; //text box increment
			 var val = $("#select_picker").val();
			 var text = $("#select_picker option:selected").text();
			var app_text = '<div class="pt-2 input-group"> <input type="text" class="form-control" id="input_affil_orig_'+x+
                '" value="'+text+'"readonly>'+
                '<select class="form-control" id="role_picker_'+x+'" name="affiliations_role[]" >';
                for ( var r in role_list){
                    app_text += '<option value="'+role_list[r]+'">'+role_list[r]+'</option>';
                   }
                app_text += '<input type="hidden" id="input_affil_orig_hidden_'+x+'" name="affiliations[]" value="'+val+'">'+
                 '<button class="rem_button btn btn-danger">Remove</button> </div>';
            $(wrapper).append(app_text);
		}
	 $(".rem_button").click(function(){
        this.parentElement.remove();
      });
	});

    /* Add in the existing affiliations*/
    {% autoescape off %}
     var affil = {{ affil_detailed }};
     var role_list = {{ role_list }};
    {% endautoescape %}
    var wrapper = $(".input_fields_wrap");
    x=0
    for ( var key in affil){
        x++;
        var app_text = '<div class="pt-2 input-group"> <input type="text" class="form-control" id="input_affil_orig_'+x+
			'" value="'+affil[key]["title"]+'"readonly>'+
			'<select class="form-control" id="role_picker_'+x+'" name="affiliations_role[]" >';
			for ( var r in role_list){
			    if (role_list[r] == affil[key]["role"]){
			        app_text += '<option value="'+role_list[r]+'" selected>'+role_list[r]+'</option>';
			    }else{
			        app_text += '<option value="'+role_list[r]+'">'+role_list[r]+'</option>';
			    }
			   }
			app_text += '<input type="hidden" id="input_affil_orig_hidden_'+x+'" name="affiliations[]" value="'+affil[key]["id"]+'">'+
			 '<button class="rem_button btn btn-danger">Remove</button> </div>';
		$(wrapper).append(app_text);
    }

    	 $(".rem_button").click(function(){
        this.parentElement.remove();
      });

});

/* All of this to add People */
$(document).ready(function() {
	var max_fields      = 10; //maximum input boxes allowed
	var wrapper   		= $(".input_fields_wrap2"); //Fields wrapper
	var add_button      = $(".add_field_button2"); //Add button ID

	var y = 1; //initlal text box count
	$(add_button).click(function(e){ //on add input button click
		e.preventDefault();
		if(y < max_fields){ //max input box allowed
			y++; //text box increment
			 var val = $("#select_picker2").val();
			 var text = $("#select_picker2 option:selected").text();
			var app_text = '<div class="pt-2 input-group"> <input type="text" class="form-control" id="input_ppl_orig_'+y+
                '" value="'+text+'"readonly>'+
                '<select class="form-control" id="role_picker_ppl_'+y+'" name="people_role[]" >';
                for ( var r in role_list_ppl){
                    app_text += '<option value="'+role_list_ppl[r]+'">'+role_list_ppl[r]+'</option>';
                   }
                app_text += '<input type="hidden" id="input_ppl_orig_hidden_'+y+'" name="people[]" value="'+val+'">'+
                 '<button class="rem_button2 btn btn-danger">Remove</button> </div>';
            $(wrapper).append(app_text);
		}
	 $(".rem_button2").click(function(){
        this.parentElement.remove();
      });
	});

    /* Add in the existing affiliations*/
    {% autoescape off %}
     var affil = {{ people_detailed }};
     var role_list_ppl = {{ pers_role_list }};
    {% endautoescape %}
    var wrapper = $(".input_fields_wrap2");
    x=0
    for ( var key in affil){
        x++;
        var app_text = '<div class="pt-2 input-group"> <input type="text" class="form-control" id="input_ppl_orig_'+x+
			'" value="'+affil[key]["name"]+'"readonly>'+
			'<select class="form-control" id="role_picker_ppl_'+x+'" name="people_role[]" >';
			for ( var r in role_list_ppl){
			    if (role_list_ppl[r] == affil[key]["role"]){
			        app_text += '<option value="'+role_list_ppl[r]+'" selected>'+role_list_ppl[r]+'</option>';
			    }else{
			        app_text += '<option value="'+role_list_ppl[r]+'">'+role_list_ppl[r]+'</option>';
			    }
			   }
			app_text += '<input type="hidden" id="input_ppl_orig_hidden_'+x+'" name="people[]" value="'+affil[key]["id"]+'">'+
			 '<button class="rem_button2 btn btn-danger">Remove</button> </div>';
		$(wrapper).append(app_text);
    }

    	 $(".rem_button2").click(function(){
        this.parentElement.remove();
      });

});


</script>

{% endblock content %}
