{% extends "base.html" %}
{% load static %}
{% block title %} Project - {{ title }}{% endblock title %}

{% block nav_proj%}active{% endblock %}

{% block content %}
<!-- Masthead-->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/projects/">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Project - {{ title }}</li>
    </ol>
</nav>

<div class="gutters-sm pl-5 pr-5">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <div style="display: relative">
                            <img src="/return_images/?uid={{id}}&type=project" alt="Admin" class="rounded-circle"
                                 width="150px">
                            {% if editable == True %}
                            <span class="edit-button"><a href="/edit_project/?project={{id|default_if_none:""}}" data-toggle="tooltip" data-placement="right" title="Edit User Information" >
                        <i class="fas fa-edit"></i></a></span>
                            {% endif %}
                        </div>
                        <h4 class="mt-3">{{ title }}</h4>
                        <!-- Actions button -->
                        <div class="mt-1">
                            {% if user.is_authenticated is True %}
                            <div class="btn-group">
                                {% if subscribed is True %}
                                <button class="btn btn-success no-click">
                                    <i class="far fa-bell"></i></i>
                                </button>
                                <a class="btn btn-warning" href="/messages/remove_subscription/?id={{id}}">
                                    Unsubscribe
                                </a>
                                {% else %}
                                <a class="btn btn-success" href="/messages/subscribe/?id={{id}}">
                                    <i class="fas fa-bell"></i> Subscribe
                                </a>
                                {% endif %}

                                <button type="button" class="btn btn-outline-info dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu">
                                    <p class="dropdown-header"><i class="fas fa-arrow-alt-circle-right"></i>
                                        <b>Requests</b></p>
                                    <a class="dropdown-item" data-toggle="modal" onclick="update_req_form('info')"
                                       data-target="#requestModal" href="#!">
                                        Information Updates</a>
                                    <a class="dropdown-item" data-toggle="modal" onclick="update_req_form('error')"
                                       data-target="#requestModal" href="#!">
                                        Error Corrections</a>
                                    <div class="dropdown-divider"></div>
                                    <p class="dropdown-header"><i class="fas fa-hand-pointer"></i>
                                        <b>Permissions</b></p>
                                    <a class="dropdown-item" data-toggle="modal" onclick="update_req_form('permission')"
                                       data-target="#requestModal" href="#!">Edit Rights</a>
                                    {% if editable == True %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                    href="/remove_resource/?uuid={{id|default_if_none:""}}">
                                    <i class="far fa-trash-alt"></i>&nbsp;Remove Project</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% if subscribers != None %}
                            <p class="text-left"><i class="fas fa-satellite-dish"></i>&nbsp;{{subscribers}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><i class="fas fa-fingerprint"></i>&nbsp CoPED Id</h6>
                        <span class="text-secondary"><a href="/user_page/?user={{id|default_if_none:""}}" target="_blank">{{ id }}</a></span>
                    </li>
                    {% for key, value in identifiers.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><i class="fas fa-address-card"></i>&nbsp {{ key|upper }}</h6>
                        <span class="text-secondary"><a href={{value.url|default_if_none:""}} target="_blank">{{ value.uid|default_if_none:""}}</a></span>
                    </li>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><i class="far fa-calendar-alt"></i>&nbsp Last Update </h6>
                        <span class="text-secondary">{{ updated }}</span>
                    </li>
                </ul>
            </div>
            <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><i class="fas fa-chart-bar"></i>&nbsp;Metrics</h6>
                    </li>
                    {% for met in metrics %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"></i> {{ met.name }} </h6>
                        <span class="text-secondary">{{ met.value }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 text-nowrap">
                            <h6 class="mb-0">Title</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" contenteditable={{editable}}>
                            {{ title|default_if_none:"" }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3 text-nowrap">
                            <h6 class="mb-0">Status</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" contenteditable={{editable}}>
                            {{ status|default_if_none:"" }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3 text-nowrap" contenteditable={{editable}}>
                            <h6 class="mb-0">Funder</h6></div>
                        <div class="col-sm-9 text-secondary">
                            {% for affil in funder_detailed %}
                            <a href={{affil.url}} target="_blank"> {{ affil.title|default_if_none:"" }}</a></br>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3 text-nowrap" contenteditable={{editable}}>
                            <h6 class="mb-0">Grant Category</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ funding.grant_category|default_if_none:"" }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3 text-nowrap" contenteditable={{editable}}>
                            <h6 class="mb-0">Funding Amount</h6></div>
                        <div class="col-sm-9 text-secondary">
                            {% if funding.value != None %}
                            {% load humanize %}
                            £{{ funding.value|intcomma }}
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3 text-nowrap" contenteditable={{editable}}>
                            <h6 class="mb-0">Start Date</h6></div>
                        <div class="col-sm-9 text-secondary">
                            {{ funding.start|default_if_none:"" }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3 text-nowrap" contenteditable={{editable}}>
                            <h6 class="mb-0">End Date</h6></div>
                        <div class="col-sm-9 text-secondary">
                            {{ funding.end|default_if_none:"" }}
                        </div>
                    </div>
                    <hr>
                    <!--                    <div class="row">-->
                    <!--                        <div class="col-sm-3 text-nowrap" contenteditable={{editable}}>-->
                    <!--                            <h6 class="mb-0">Abstract</h6></div>-->
                    <!--                        <div class="col-sm-9 text-secondary">-->
                    <!--                            {% if abstract is not None %}-->
                    <!--                            <button class="btn btn-light" type="button" data-toggle="collapse"-->
                    <!--                                    data-target="#abstract_collapse" aria-expanded="false">-->
                    <!--                                View Abstract-->
                    <!--                            </button>-->
                    <!--                            <div class="collapse" id="abstract_collapse">-->
                    <!--                                <div class="card card-body">-->
                    <!--                                     <pre>{{ abstract }}</pre>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                            {% endif %}-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="row">
                        <div class="col-sm-3 text-nowrap" contenteditable={{editable}}>
                            <h6 class="mb-0">Abstract</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <pre>{{ abstract|default_if_none:"" }}</pre>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3 text-nowrap">
                            <h6 class="mb-0">Update History</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <table>
                                {% for key, values in update_history.items %}
                                <tr>
                                    <td>{{key}} - {{ values }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gutters-sm pl-5 pr-5 pt-2 bg-div text-center">
    <div class="text-left">
        <ul class="nav nav-tabs" id="myTab">
            <li class="nav-item">
                <a href="#home" class="nav-link" data-toggle="tab">Organisations</a>
            </li>
            <li class="nav-item">
                <a href="#profile" class="nav-link" data-toggle="tab">People</a>
            </li>
            <!--                <li class="nav-item">-->
            <!--                    <a href="#messages" class="nav-link" data-toggle="tab">Publications</a>-->
            <!--                </li>-->
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="home">
                <h4 class="mt-2">Organisations</h4>
                <br>
                {% for org in affil_detailed %}
                <h5> {{ org.title }}</h5>
                <h6> {{ org.role }} </h6>
                <p> Internal <a href="{{ org.url }}" target="_blank"> Link</a></p>
                <hr>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="profile">
                <h4 class="mt-2">People</h4>
                <br>
                {% for ppl in people_detailed %}
                <h5> {{ ppl.name }}</h5>
                <h6> Roles: {{ ppl.role }} </h6>
                <p> Internal <a href="{{ ppl.url }}" target="_blank"> Link</a></p>
                <hr>
                {% endfor %}
            </div>
            <!--                <div class="tab-pane fade" id="messages">-->
            <!--                    <h4 class="mt-2">Publications</h4>-->
            <!--                    <br>-->
            <!--                    {% for pub in publications_detailed %}-->
            <!--                    <h5> {{ pub.title }}</h5>-->
            <!--                    <h6> {{ pub.journal }} </h6>-->
            <!--                    <p> Publication Link: <a href="{{ pub.url }}"> GtR Link</a></p>-->
            <!--                    <hr>-->
            <!--                    {% endfor %}-->
            <!--                </div>-->
        </div>
    </div>
</div>

<!-- Requests Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="d-flex align-items-center text-center w-100">
                    <div class="col-4 mx-auto">
                        <div class="text-center">
                            <img class="img-responsive" style="width:7vw" src="{% static 'assets/img/icon.png' %}"/>
                        </div>

                        <div class="form-title text-center">
                            <h4>Requests</h4>
                            <p id="req_name">Generic</p>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="d-flex flex-column text-center">
                            <form action="/messages/add_request/" method="post" id="form_request_in"
                                  class="needs-validation" novalidate>
                                {% csrf_token %}
                                <input type="hidden" name="requester" value="{{user.u_id}}">
                                <input type="hidden" name="requester_info"
                                       value="{{user.first_name}} {{user.last_name}}">
                                <input type="hidden" name="resource_id" value="{{id}}">
                                <input type="hidden" name="resource_info" value="Project - {{ title }}">
                                <input type="hidden" name="request_type" id="request_type" value="">
                                <div class="form-group text-left">
                                    <label for="body1" class="text-dark"> Request Motivation</label>
                                    <textarea class="form-control" id="body1" name="body" minlength="10" height="auto"
                                              style="min-height:75px"
                                              placeholder="Motivation for request" required></textarea>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback"> Please provide a short (minimum 10 characters)
                                        description of the reason.
                                    </div>
                                </div>

                                <div class="form-group text-centre">
                                    <button type="submit" type="submit" form="form_request_in" value="Submit"
                                            class="btn btn-info btn-block text-center btn-round">Submit
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $("#myTab li:eq(0) a").tab('show');
});


function update_req_form(req_type) {
  if (req_type == "info"){
    document.getElementById("request_type").value = req_type;
    document.getElementById("body1").value = "";
    document.getElementById("req_name").innerHTML = "Request update for missing Information";
  }else if(req_type == "error"){
    document.getElementById("request_type").value = req_type;
    document.getElementById("body1").value = "";
    document.getElementById("req_name").innerHTML = "Flag possible error in data";
  }else if(req_type == "permission"){
    document.getElementById("request_type").value = req_type;
    document.getElementById("body1").value = "";
    document.getElementById("req_name").innerHTML = "Request permission to edit resource";
  }
}

expandTextarea('body1');





</script>
{% endblock content %}
