{% load static %}
<!-- Footer-->
<footer class="footer bg-light">
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="/about/">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="/contact/">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a target="_blank"
                                                    href="{% static 'assets/docs/CoPED_Website_Privacy_Notice.pdf' %}">Privacy
                        Policy</a></li>
                    <li class="list-inline-item"><a target="_blank"
                                                    href="{% static 'assets/docs/terms-of-service.pdf' %}">Terms
                        of Service</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">© CoPED - Catalogue of Projects on Energy Data 2021. All Rights
                    Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3 text-center">
                        <a href="https://www.energyrev.org.uk/" target="_blank">
                            <img src="{% static 'assets/img/logo-erev.png' %}" href="#!"
                                 height="45" class="d-inline-block align-top" alt="EnergyREV"> </a>
                        </br> </li>
                    <li class="list-inline-item mr-3 text-center">
                        <a href="https://es.catapult.org.uk/" target="_blank">
                            <img src="{% static 'assets/img/logo-catap.png' %}" href="#!"
                                 height="45" class="d-inline-block align-top" alt="Energy Systems Catapult"> </a>
                        </br></li>
                    <li class="list-inline-item mr-3 text-center mb-5">
                        <a href="https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy"
                           target="_blank">
                            <img src="{% static 'assets/img/logo-beis.png' %}" href="#!"
                                 height="45" class="d-inline-block align-top" alt="BEIS UK"> </a>
                        </br> </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
