{% comment %} Message Popups {% endcomment %}
{% if messages %}
  {% for message in messages %}
    {% if message.tags == "success" or message.tags == "info" %}
      <div
        class="alert alert-success alert-dismissible fade show"
        role="alert"
        id="alert-div"
      >
        <strong style="text-transform: uppercase">{{ message.tags }}</strong> - {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% else %}
      <div
        class="alert alert-warning alert-dismissible fade show"
        role="alert"
        id="alert-div2"
      >
        <strong style="text-transform: uppercase">{{ message.tags }}</strong> - {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<script>
  // Manage appearance of messages above.
  $(document).ready(function () {
    $("#alert-div")
      .fadeTo(3000, 500)
      .slideUp(500, function () {
        $("#alert-div").slideUp(500);
      });
    $("#alert-div2")
      .fadeTo(3000, 500)
      .slideUp(500, function () {
        $("#alert-div2").slideUp(500);
      });
  });
</script>