{% load humanize %}
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3 text-nowrap">
                <h6 class="mb-0">Title</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ project.title }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3 text-nowrap">
                <h6 class="mb-0">CoPED ID</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ project.coped_id }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3 text-nowrap">
                <h6 class="mb-0">Status</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ project.status }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3 text-nowrap">
                <h6 class="mb-0">Funder{{ project.funds.all|pluralize }}</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {% for fund in project.funds.all %}
                    <a href="{% url 'organisation-detail' pk=fund.id %}"> {{ fund.name }}</a></br>
                {% empty %}
                    No funds listed.
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3 text-nowrap">
                <h6 class="mb-0">Value</h6></div>
            <div class="col-sm-9 text-secondary">
                {% comment %} {% load humanize %}
                £{{ project.total_funding|intcomma }} {% endcomment %}
                {% if project.total_funding %}
                    £{{ project.total_funding|intcomma }}
                {% else %}
                    No funds listed.
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3 text-nowrap">
                <h6 class="mb-0">Start Date</h6></div>
            <div class="col-sm-9 text-secondary">
                {{ project.filter_start_date }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3 text-nowrap">
                <h6 class="mb-0">End Date</h6></div>
            <div class="col-sm-9 text-secondary">
                {% comment %} {% firstof project.end project.funding_end %} {% endcomment %}
                {{ project.filter_end_date }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3 text-nowrap">
                <h6 class="mb-0">Description</h6>
                <p><a href="{% url 'project-list' %}?mlt={{project.id}}">More Like This</a></p>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ project.description|linebreaks }}
            </div>
        </div>
        {% if project.extra_text.strip %}
        <hr>
        <div class="row">
            <div class="col-sm-3 text-nowrap">
                <h6 class="mb-0">More Information</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ project.extra_text|linebreaks }}
            </div>
        </div>
        {% endif %}

    </div>
</div>
