{% comment %} Tabs containing linked organisations, people, etc. {% endcomment %}
<div class="accordion" id="detailAccordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Organisations
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#detailAccordion">
        <div class="card-body">
            <table>
            {% for org in project.projectorganisation_set.all %}
            <tr>
                <td><a href="{{ org.organisation.get_absolute_url }}">{{ org.organisation.name }}</a></td>
                <td class="text-right">{{ org.role }}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            People
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#detailAccordion">
        <div class="card-body">
            <div class="table-responsive">
                <table>
                    <thead>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                    </thead>
                    <tbody>
                        {% for person in project.projectperson_set.all %}
                        <tr>
                            <td><a href="{{ person.get_absolute_url }}">{{ person.person.full_name }}</a></td>
                            <td>{{ person.role }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Subject Areas
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#detailAccordion">
        <div class="card-body">
            <h5>Subjects by relevance</h5>
            <ol>
            {% for ps in project.projectsubject_set.all %}
                <li>{{ ps.subject.label|capfirst }}</li>
            {% endfor %}
            </ol>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Key Phrases
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#detailAccordion">
        <div class="card-body">
            <h5>Extracted key phrases</h5>
            <ol>
            {% for pk in project.projectkeyword_set.all %}
                <li>{{ pk.keyword.text|capfirst }}</li>
            {% endfor %}
            </ol>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            External Links
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#detailAccordion">
        <div class="card-body">
            <h5>Related Pages</h5>
            {% for el in project.external_links.all %}
                <p><a href={{el.link}}>{{ el.description|capfirst }}</a></p>
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" onclick="map.invalidateSize">
            Location Map
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#detailAccordion">
        <div class="card-body">
            <h5>Project Locations</h5>
            {% include "./location_map.html" %}
        </div>
      </div>
    </div>
</div>
