{% load static %}

<div class="col-md-3 mb-3" style="min-width: 250px;display:block" id="nav_block_id">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                        <div class="list-group list-group-flush border-bottom scrollarea">
                            <a href="/visuals/" class="list-group-item list-group-item-action {{active_index}} py-3 lh-tight"
                               aria-current="true">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <h5><strong class="mb-1">Visuals Main Page</strong></h5>
                                </div>
                                <div>Landing Page for Visualisations and Graphs.
                                </div>
                            </a>
                            <a href="{% url 'visuals-dashboard' %}" class="list-group-item list-group-item-action {{active_graph}} py-3 lh-tight"
                               aria-current="true">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">Graph Representation of Projects (Demo Dashboard)</strong>
                                </div>
                                <img src="{% static 'assets/img/vis-conn_header.png' %}" width="100%"
                                     class="d-inline-block align-top" alt="Connections Page">
                                <div>A simple queryable visualisation that shows the available projects,
                                    their organisations and the people connected to the projects.
                                </div>
                            </a>
                            <a href="{% url 'visuals-dashboard' %}" class="list-group-item list-group-item-action {{active_map_s}} py-3 lh-tight"
                               aria-current="true">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">Maps View of Projects (Demo Dashboard)</strong>
                                </div>
                                <img src="{% static 'assets/img/vis-map_simple_header.png' %}" width="100%"
                                     class="d-inline-block align-top" alt="Connections Page">
                                <div>A simple maps view of projects and organisations based on their address.
                                </div>
                            </a>
                            <a href="{% url 'visuals-dashboard' %}" class="list-group-item list-group-item-action {{active_comunity}} py-3 lh-tight"
                               aria-current="true">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">Community Analysis notebooks (Demo Dashboard)</strong>
                                </div>
                                <img src="{% static 'assets/img/vis-jupyter_header.png' %}" width="100%"
                                     class="d-inline-block align-top" alt="Connections Page">
                                <div>Notebooks submitted by the developer community that highlight
                                    key insights and knowledge from the existing data.
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>

function toggle_nav_bar(){
    var disp_type = document.getElementById("nav_block_id").style.display;
    console.log(disp_type)
    if (disp_type == "block"){
        console.log("Hidden")
        document.getElementById("nav_block_id").style.display = "none"
    }else{
        console.log("Block")
        document.getElementById("nav_block_id").style.display = "block"
    }
}



</script>