# Core Dependencies
Django==3.2.7
djangorestframework==3.12.4
django-haystack==3.1.1
elasticsearch==7.15.0
gunicorn==20.1.0
psycopg2-binary==2.9.1
django-elasticsearch-dsl==7.2.1
django-filter==21.1
django-registration==3.2
django-recaptcha==2.0.6

# Optional Django REST Framework dependencies for OpenAPI schema generation
PyYAML==6.0
uritemplate==4.1.1

# Scrapy is needed for crawling websites and APIs
Scrapy==2.5.1
deepdiff==5.6.0

# Admin formatting
Pygments==2.10.0

# Calling external API services
requests==2.26.0

# Text analysis
textacy==0.11.0

# Dev dependencies
ipython==7.29.0
django-debug-toolbar==3.2.2
django-extensions==3.1.5
Werkzeug==2.0.2
black==21.11b1
