{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="container col-lg-6">
  <br>
  <h4>Log in to your CoPED account</h4>
  <form method="post" action="." class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p>{% trans "Forgot password" %}? <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>!</p>
  <p>{% trans "Still need to activate your account" %}? <a href="{% url 'resend-activation-email' %}">{% trans "Resend activation email" %}</a>!</p>
  <p>{% trans "Not member" %}? <a href="{% url 'django_registration_register' %}">{% trans "Register" %}</a>!</p>
</div>
{% endblock %}
