{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<br>
<div class="container col-lg-6">
  <h4>Request a password reset</h4>
  <form method="post" action="." class="form">
    {% csrf_token %} 
    {% bootstrap_form_errors form %}
    {% bootstrap_form form %}
    <p>Please enter the email associated with your account if you have forgotten the password.</p> 
    {% buttons %}
    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
