{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

{% if validlink %}

<br>
<div class="container col-lg-6">
  <h4>Please choose a new log in password</h4>
  <form method="post" action="." class="form">
    {% csrf_token %} 
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    {% endbuttons %}
  </form>
</div>

{% else %}

<br>
<div class="container col-lg-6">
  <p>{% trans "Password reset failed." %}</p>
  <p>{% trans "Either the password reset link has been used already, it has expired, or it is an invalid link." %}</p>
</div>

{% endif %}

{% endblock %}
