{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} Register {% endblock title %}

{% block content %}
<div class="container col-lg-6">
  <br>
  <h4>Register for a CoPED account</h5>
  <form method="post" action="." class="form">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}
