{% extends "base.html" %}
{% load static %}
{% block title %} Admin - Permissions {% endblock title %}

{% block nav_vis%}active{% endblock %}

{% block content %}
<!-- Masthead-->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin - Permissions</li>
    </ol>
</nav>
<div class="gutters-sm pl-5 pr-5 pt-2 bg-div text-center">
    <div class="col-md-12 mx-auto">
        <div class="bs-example text-left ">
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item">
                    <a href="#admins" class="nav-link" data-toggle="tab">Admin Rights</a>
                </li>
                <li class="nav-item">
                    <a href="#edits" class="nav-link" data-toggle="tab">Edit rights</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade" id="admins">

                    <h4 class="text-left mt-2"> Existing Admins</h4>
                    <div class="input-group mt-2 mb-1">
                        <input type="text" class="form-control" placeholder="Search for people"
                               id="myInput_admins"
                               title="Type in a user" onkeyup="search('admins',[0,1])">
                    </div>

                    <table class="table table_requests w-100" id="myTable_admins">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Organisation</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k_req, v_req in admin_users.items %}
                        <tr>
                            <td scope="row">{{v_req.name}}</td>
                            <td>{{v_req.org}}</td>
                            <td>
                                <div class="input-group" style="justify-content: center;">
                                    <form action="/messages/admin_update/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="remove">
                                        <input type="hidden" name="id" value="{{v_req.id}}">
                                        <button class="btn btn-success btn-sm" type="submit">Remove as Admin</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <h4 class="text-left mt-2"> Non-Admin Users</h4>
                    <div class="input-group mt-2 mb-1">
                        <input type="text" class="form-control" placeholder="Search for people"
                               id="myInput_admins2"
                               title="Type in a user" onkeyup="search('admins2',[0,1])">
                    </div>

                    <table class="table table_requests w-100" id="myTable_admins2">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Organisation</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k_req, v_req in non_admin_users.items %}
                        <tr>
                            <th scope="row">{{v_req.name}}</th>
                            <td>{{v_req.org}}</td>
                            <td>
                                <div class="input-group" style="justify-content: center;">
                                    <form action="/messages/admin_update/" method="post" class="ml-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="add">
                                        <input type="hidden" name="id" value="{{v_req.id}}">
                                        <button class="btn btn-success btn-sm" type="submit">Add as Admin</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="edits">
                    <div class="row">
                        <div class="col-md-5">
                            <h4> Resources </h4>
                            <div class="input-group mt-2 mb-1">
                                <input type="text" class="form-control" placeholder="Search for people"
                                       id="myInput_edits"
                                       title="Type in a user" onkeyup="search('edits',[0])">
                            </div>

                            <table class="table table_requests w-100" id="myTable_edits">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Description</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for v_req in resources %}
                                <tr>
                                    <td scope="row"><a href="{{v_req.link}}">{{v_req.title}}</a></td>
                                    <td>
                                        <button class="btn btn-success btn-sm"
                                                onclick="display_res('{{v_req.id}}','{{v_req.title}}','{{v_req.link}}')">View
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-7" id="perm_disp_area">
                            <p> no resource selected...
                            <p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function(){
    $("#myTab li:eq(0) a").tab('show');
});

function display_res(id,title,link){

    var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var resp = JSON.parse(this.responseText);
            var ret_ppl = resp["people_list"];
            var ret = resp["editors_list"];
            var disp_text = ' <h4 class="mt-2"> Edit Permissions for resource </h4> <a  href="'+link+'"><h6>'+title+'</h6></a>'+
                            '<div class="input-group mt-2 mb-1">'+
                            '<input type="text" class="form-control" placeholder="Search for people"'+
                            'id="myInput_edits2" title="Type in a user" onkeyup="search(\'edits2\',[0,1])"> </div>'+
                            '<table class="table table_requests w-100" id="myTable_edits2">'+
                            '<thead class="thead-light"><tr><th scope="col">Name</th><th scope="col">Organisation</th>'+
                            '<th scope="col">Actions</th></tr></thead><tbody>';
            for (var indi in ret){
                disp_text += '<tr><td scope="row"><a href="'+ret[indi]['link']+'">'+ret[indi]['name']+'</a></td>'+
                             '<td>'+ret[indi]['org']+'</td><td>'+
                             '<button  class="btn btn-danger btn-sm" '+
                             'onclick="user_rem(\''+id+'\',\''+ret[indi]["id"]+'\',\''+title+'\',\''+link+'\')">Remove</button>'+
                             '</td></tr>';
            }
            disp_text +=  '</tbody></table>';

            //Start Form
            disp_text +=  '<h5 class="mt2"> Add more editors to resource</h5>'

            //Add Ppl Select
            disp_text += '<div class="input-group"><select class="selectpicker form-control" data-live-search="true"'+
                         'id="select_picker" style="display:block!important">';
            for (ppl_option in ret_ppl){
                    disp_text +='<option value="'+ret_ppl[ppl_option]['id']+'">'+ret_ppl[ppl_option]['name']+'</option>';
            }
            disp_text += '</select><span class="input-group-btn">'+
                         '<button  class="btn btn-danger" onclick="user_add(\''+id+'\',\''+title+'\',\''+link+'\')">Add Editor</button>'+
                         '</span></div><div class="input_fields_wrap input-group"></div>';
            document.getElementById("perm_disp_area").innerHTML = disp_text;
        }
     };
       //Update is a dumym as logs and state is automatically returned
      xhttp.open("GET", "/messages/get_perm_users/?id="+id, true);
      xhttp.send();

   }

function user_rem(res_id,u_id,title,link){
    $.post( "/messages/update_perm_users/", { id: u_id, res_id: res_id,action:"remove",csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value})
      .done(function( data ) {
      display_res(res_id,title,link);
    });

}

function user_add(res_id,title,link){
    u_id = $("#select_picker").val();

    $.post( "/messages/update_perm_users/", { id: u_id, res_id: res_id,action:"add",csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value})
      .done(function( data ) {
      display_res(res_id,title,link);
    });
}

function search(req_type,l_range) {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput_"+req_type);
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable_"+req_type);
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    txtValue = ""
    for (var l_td in l_range){
            td = tr[i].getElementsByTagName("td")[l_td]
            if (td) {
              txtValue += td.textContent || td.innerText;
            }
        }
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }


</script>

{% endblock content %}
