{% extends "base.html" %}
{% load static %}
{% block title %}Admin - Processes{% endblock title %}

{% block content %}
<!-- Masthead-->

<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin - Processes</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="pt-3 gutters-sm pl-5 pr-5">

    {% for service in services %}
    <hr/>
    <div class="row no-gutters pb-3">
        <div class="col-lg-4 order-lg-1 showcase-text">
            <h2>{{ service.name }}</h2>
            <p class="lead mb-0"><b>Type: </b>{{ service.type }}</p>
            <p class="lead mb-0"><b>Description: </b>{{ service.description }}</p>
            <p class="lead mb-0"><b>Address: </b>{{service.address }}</p>
            <a class="text-dark" data-toggle="collapse" href="#collapse_capab_{{service.uid}}" role="button" aria-expanded="false"
               aria-controls="collapseExample">
                <i class="fas fa-expand-arrows-alt"></i> &nbsp; Capability </a>
            <div class="collapse" id="collapse_capab_{{service.uid}}">
                <div class="card card-body" style="white-space:pre-wrap">
                    {% for key, value in service.capability.items %}
                    <p><b>{{ key }}</b></p>
                    <p> Type: {{ value.type }} &nbsp;&nbsp;Response: {{ value.response }}</p>
                    {% if 'format' in value %}
                        <p>Format: {{value.format}}</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-8 order-lg-2 text-white showcase-img">
            <p class="lead pl-2 mb-0 text-dark"><b>Status </b></p>
            <div class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#in-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="in-part"
                                id="in-part-trigger_{{service.uid}}">
                            <span class="bs-stepper-circle" id="1_{{service.uid}}">1</span>
                            <span class="bs-stepper-label">Initialised</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#started-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="started-part"
                                id="started-part-trigger_{{service.uid}}">
                            <span class="bs-stepper-circle" id="2_{{service.uid}}">2</span>
                            <span class="bs-stepper-label">Running</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#finished-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="finished-part"
                                id="finished-part-trigger_{{service.uid}}">
                            <span class="bs-stepper-circle" id="3_{{service.uid}}">3</span>
                            <span class="bs-stepper-label" id="finished_{{service.uid}}">Finished</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#err-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="err-part"
                                id="err-part-trigger_{{service.uid}}">
                            <span class="bs-stepper-circle" id="4_{{service.uid}}">4</span>
                            <span class="bs-stepper-label">Error</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 order-lg-1 my-auto showcase-text">
                <div class="spinner-border text-dark" id="spinner_{{service.uid}}" role="status" style="display:none !important;">
                  <span class="sr-only">Loading...</span>
                </div>
                <button type="button" id="refresh_service_{{service.uid}}" onClick="get_update('{{service.uid}}')"
                        class="btn btn-success mb-2"><i class="fas fa-sync-alt"></i>&nbsp;Update</button>
                  <button type="button" id="start_service_{{service.uid}}" onClick="start_service('{{service.uid}}')" class="btn btn-success mb-2">Start Service</button>
                  <button type="button" id="stop_service_{{service.uid}}" onClick="stop_service('{{service.uid}}')" class="btn btn-danger mb-2">Stop Service</button>
                    <form class="form-inline" onsubmit="return form_sort('{{service.uid}}')" >
                        <div class="form-group mb-2">
                            <label for="add_job_{{service.uid}}" class="text-dark mr-2"> Add Job:</label>
                            <input type="text" class="form-control" id="add_job_{{service.uid}}"
                                   name="value" placeholder="Configuration for job" required="true">
                        </div>
                        <button type="submit" class="btn btn-primary mx-sm-1  mb-2">Submit</button>
                    </form>
            </div>
            <div class="col-lg-12 order-lg-1 my-auto showcase-text">
            <a class="text-dark" data-toggle="collapse" href="#collapseLogs_{{service.uid}}" role="button" aria-expanded="false"
               aria-controls="collapseExample">
                <i class="fas fa-history"></i> &nbsp; Runtime Logs </a>
            <div class="collapse" id="collapseLogs_{{service.uid}}">
                <div class="card card-body text-dark"  style="white-space:pre-wrap" id="collapseLogs_body_{{service.uid}}">
                    Lots of logs
                </div>
            </div>
        </div>
        </div>
    </div>
    {% empty %}
      <h5 class="text-center"> No Services found...</h5>
    {% endfor %}
</div>
    <script>

    function sort_status(id,value){
        switch(value) {
              case "stopped":
                document.getElementById("finished_"+id).innerHTML = "Stopped";
                document.getElementById("1_"+id).className = "bs-stepper-circle";
                document.getElementById("2_"+id).className = "bs-stepper-circle";
                document.getElementById("3_"+id).className = "bs-stepper-circle bg-warning";
                document.getElementById("4_"+id).className = "bs-stepper-circle";
                break;
              case "stopping":
                document.getElementById("finished_"+id).innerHTML = "Stopping";
                document.getElementById("1_"+id).className = "bs-stepper-circle";
                document.getElementById("2_"+id).className = "bs-stepper-circle";
                document.getElementById("3_"+id).className = "bs-stepper-circle bg-warning";
                document.getElementById("4_"+id).className = "bs-stepper-circle";
                break;
              case "finished":
                 document.getElementById("finished_"+id).innerHTML = "Finished";
                document.getElementById("1_"+id).className = "bs-stepper-circle bg-success";
                document.getElementById("2_"+id).className = "bs-stepper-circle bg-success";
                document.getElementById("3_"+id).className = "bs-stepper-circle bg-success";
                document.getElementById("4_"+id).className = "bs-stepper-circle";
                break;
              case "initialised":
                 document.getElementById("finished_"+id).innerHTML = "Finished";
                document.getElementById("1_"+id).className = "bs-stepper-circle bg-success";
                document.getElementById("2_"+id).className = "bs-stepper-circle";
                document.getElementById("3_"+id).className = "bs-stepper-circle";
                document.getElementById("4_"+id).className = "bs-stepper-circle";
                break;
              case "running":
                document.getElementById("finished_"+id).innerHTML = "Finished";
                document.getElementById("1_"+id).className = "bs-stepper-circle bg-success";
                document.getElementById("2_"+id).className = "bs-stepper-circle bg-success";
                document.getElementById("3_"+id).className = "bs-stepper-circle";
                document.getElementById("4_"+id).className = "bs-stepper-circle";
                break;
              case "error":
                document.getElementById("finished_"+id).innerHTML = "Finished";
                document.getElementById("1_"+id).className = "bs-stepper-circle";
                document.getElementById("2_"+id).className = "bs-stepper-circle";
                document.getElementById("3_"+id).className = "bs-stepper-circle";
                document.getElementById("4_"+id).className = "bs-stepper-circle bg-danger";
                break;
              default:
                document.getElementById("finished_"+id).innerHTML = "Finished";
                document.getElementById("1_"+id).className = "bs-stepper-circle";
                document.getElementById("2_"+id).className = "bs-stepper-circle";
                document.getElementById("3_"+id).className = "bs-stepper-circle";
                document.getElementById("4_"+id).className = "bs-stepper-circle";
                break;
            }
    }

     function start_service(id) {
        document.getElementById("spinner_"+id).style = "display:inline-block !important";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var resp = JSON.parse(this.responseText);
            document.getElementById("collapseLogs_body_"+id).innerHTML = resp.log;
            document.getElementById("spinner_"+id).style = "display:none !important";
            sort_status(id,resp.status)
        }else if (this.status == 408){
            sort_status(id,"error")
            document.getElementById("collapseLogs_body_"+id).innerHTML = "ERROR: Cannot connect to service, no response";
            document.getElementById("spinner_"+id).style = "display:none !important";
        }};
      xhttp.open("GET", "/get_service_content/?name="+id+"&capability=start_thread", true);
      xhttp.send();
    }
     function stop_service(id) {
        document.getElementById("spinner_"+id).style = "display:inline-block !important";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var resp = JSON.parse(this.responseText);
            document.getElementById("collapseLogs_body_"+id).innerHTML = resp.log;
            document.getElementById("spinner_"+id).style = "display:none !important";
            sort_status(id,resp.status)
        }else if (this.status == 408){
            sort_status(id,"error")
            document.getElementById("collapseLogs_body_"+id).innerHTML = "ERROR: Cannot connect to service, no response";
            document.getElementById("spinner_"+id).style = "display:none !important";
        }};
      xhttp.open("GET", "/get_service_content/?name="+id+"&capability=stop_thread", true);
      xhttp.send();
    }
    function get_update(id) {
        document.getElementById("spinner_"+id).style = "display:inline-block !important";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var resp = JSON.parse(this.responseText);
            document.getElementById("collapseLogs_body_"+id).innerHTML = resp.log;
            document.getElementById("spinner_"+id).style = "display:none !important";
            sort_status(id,resp.status)
        }else if (this.status == 408){
            sort_status(id,"error")
            document.getElementById("collapseLogs_body_"+id).innerHTML = "ERROR: Cannot connect to service, no response";
            document.getElementById("spinner_"+id).style = "display:none !important";
        }
        };
       //Update is a dumym as logs and state is automatically returned
      xhttp.open("GET", "/get_service_content/?name="+id+"&capability=update", true);
      xhttp.send();
    }

    function form_sort(id) {
        document.getElementById("spinner_"+id).style = "display:inline-block !important";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var resp = JSON.parse(this.responseText);
            document.getElementById("collapseLogs_body_"+id).innerHTML = resp.log;
            document.getElementById("spinner_"+id).style = "display:none !important";
            sort_status(id,resp.status)
        }else if (this.status == 408){
            sort_status(id,"error")
            document.getElementById("collapseLogs_body_"+id).innerHTML = "ERROR: Cannot connect to service, no response";
            document.getElementById("spinner_"+id).style = "display:none !important";
        }};
       //Update is a dumym as logs and state is automatically returned
      var value = document.getElementById("add_job_"+id).value
      var data = new FormData()
      xhttp.open("GET", "/get_service_content/?name="+id+"&capability=add_job&value="+value, true);
      xhttp.send(data);
      return false;
    }
    </script>

<script>
var sleep = time => new Promise(resolve => setTimeout(resolve, time))
var poll = (promiseFn, time) => promiseFn().then(
             sleep(time).then(() => poll(promiseFn, time)))

// Greet the World every second
//poll(() => new Promise(() => console.log('Hello World!')), 1000)




</script>

{% endblock content %}
