{% extends "base.html" %}

{% load i18n %}
{% load pinax_announcements_tags %}

{% block title %} Announcements {% endblock title %}

{% block content %}
<br><br>
<div class="container col-lg-7">
    <h2 class="with-actions">
        {% trans "Announcements" %}
    </h2>

    {% if user.is_superuser %}
    <a class="badge badge-pill badge-success" href="{% url "pinax_announcements:announcement_create" %}">
        {% trans "Add New Announcement" %}
    </a>
    {% else %}
    <a href="{% url "propose-announcement" %}" class="badge badge-pill badge-success" data-toggle="tooltip" title="Propose an announcement to the site administrator.">
        {% trans "Propose Announcement" %}
    </a>
    {% endif %}

    {% for announcement in announcement_list %}
        <div class="announcement">
            <div class="announcement-body">
                <div class="announcement-title">{{ announcement.title }}</div>
                {{ announcement.content }}
            </div>
            <div class="announcement-meta">
                <div class="announcment-date">
                    {% if announcement.publish_start or announcement.publish_end %}
                        <small>Published from <em>{{ announcement.publish_start|date:"F j, Y" }}</em> to
                        <em>{{ announcement.publish_end|date:"F j, Y" }}</em></small>
                    {% endif %}
                </div>
                <div class="announcement-actions">
                    <a href="{% url "pinax_announcements:announcement_update" pk=announcement.pk %}" class="announcement-edit-link">
                        <i class="fas fa-pencil-alt"></i>
                        {% trans "Edit" %}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<br><br>
{% endblock %}
