{% extends "base.html" %}

{% load i18n %}

{% load pinax_messages_tags %}

{% block head_title %}Messages{% endblock %}

{% block body_class %}{{ block.super }} pinax-messages-inbox{% endblock %}

{% block content %}
<br><br>
<div class="container col-lg-7">
    <h2>
        Messages
    </h2>
    <a class="btn btn-primary" role="button" href="{% url "pinax_messages:message_create" %}">
        <i class="fas fa-envelope"></i>
        New Message
    </a>
    {% if not user.is_superuser %}
    <a class="btn btn-info" role="button" href="{% url "pinax_messages:message_user_create" user_id=1 %}">
        <i class="fas fa-user-cog"></i>
        Contact Administrator
    </a>
    {% endif %}
    <br><br>

    <section class="mailbox">
    {% if folder == "inbox" %}
        <h4>Unread</h4>
        {% for thread in threads_unread %}
            {% include "./includes/message_card.html" %}
        {% empty %}
            <p>You have no unread messages.</p>
        {% endfor %}
        <br>

        <h4>Read</h4>
        {% for thread in threads %}
            {% if not thread|unread:user %}
                {% include "./includes/message_card.html" %}
            {% endif %}
        {% empty %}
            <p>You have no read messages.</p>
        {% endfor %}
    {% elif folder == "started" %}
        <h4>Started</h4>
        {% for thread in threads %}
            {% if not thread|unread:user %}
                {% include "./includes/message_card.html" %}
            {% endif %}
        {% empty %}
            <p>You have no read messages.</p>
        {% endfor %}
    {% endif %}
    </section>
</div>
<br><br>
{% endblock %}