{% load static %}
<!-- Login Modal -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
        <div class="text-center">
          <img
            class="img-responsive"
            style="width: 7vw"
            src="{% static 'assets/img/icon.png' %}"
          />
        </div>

        <div class="form-title text-center">
          <h4>Sign into CoPED</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form
            action="/login/"
            method="post"
            id="form_sing_in"
            class="needs-validation"
            novalidate
          >
            {% csrf_token %}
            <div class="form-group text-left">
              <label for="email1" class="text-dark"> Email Address</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email1"
                placeholder="Your email address..."
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">
                Please provide a valid email address.
              </div>
            </div>
            <div class="form-group text-left">
              <div class="row">
                <label for="password1" class="text-dark col-md-6 col-sm-6">
                  Password</label
                >
                <a
                  class="label-link text-right col-md-6 col-sm-6"
                  tabindex="0"
                  href="/password_reset"
                  >Forgot password?</a
                >
              </div>
              <input
                type="password"
                name="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                class="form-control"
                id="password1"
                placeholder="Your password..."
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">
                Please provide a valid password. It must contain at least one
                number and one uppercase and lowercase letter, and at least 8 or
                more characters
              </div>
            </div>
            <div class="form-group text-centre">
              <button
                type="submit"
                type="submit"
                form="form_sing_in"
                value="Submit"
                class="btn btn-info btn-block text-center btn-round"
              >
                Sign in
              </button>
            </div>
          </form>

          <div class="modal-footer d-flex justify-content-center">
            <div class="signup-section">
              Not a member yet?
              <a
                href=""
                data-toggle="modal"
                data-target="#signupModal"
                data-dismiss="modal"
                class="text-info"
              >
                Sign Up</a
              >.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
